header{
    display:flex;
    justify-content: center;
    align-items: center;
}

body{
    background:  linear-gradient(0deg,rgba(255, 166, 0, 0.788),white);
}

#description{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

#survey-form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}